<h1>New Recipe</h1>
<%= simple_form_for @recipe do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :duration %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
